imblearn==0.0
matplotlib==3.10.8
neurokit2==0.2.12
numpy==2.4.2
pandas==3.0.0
pydantic==2.12.5
pytorch_lightning==2.6.1
scikit_learn==1.8.0
scipy==1.17.0
torchmetrics==1.8.2
tqdm==4.67.2
wandb==0.24.1
wfdb==4.3.0
